:root {
  --blue: rgb(89, 173, 227);
  --dark-blue: rgb(26, 97, 148);
  --yellow: rgb(250, 235, 179);
  --orange: rgb(226, 187, 125);
  --brown: rgb(170, 130, 105);
  --dark-navy-blue: rgb(14, 28, 47);
}

.projectCard-container {
  padding: 3rem;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
}

.projectCard {
  padding: 25px 30px 10px 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: fit-content;
}

.projectCard-info {
  padding: 0 10px;
}

.projectCard-header {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.projectCard-title {
}

.projectCard-links-container {
  display: flex;
  justify-content: space-evenly;
  gap: 0.3rem;
  align-items: center;
  margin-right: 0.4rem;
  font-size: 1.5rem;
}

.projectCard-link-preview,
.projectCard-link-github {
  cursor: pointer;
}
.projectCard-stack-container,
.projectCard-assignment-container {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 800ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.projectCard-stack-technologies,
.projectCard-stack-additional,
.projectCard-assignment-container {
  margin: 1rem 0;
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.projectCard-stack-technologies-icon {
  height: 2rem;
  width: auto;
}

.projectCard-expand-container {
  font-size: 2rem;
  transition: transform 350ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectCard-assignment-container {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.projectCard-assignment-logo {
  background-color: black;
  height: 2rem;
  cursor: pointer;
}
