@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Secular+One&display=swap");


.header-container {
  height: 670px;
  width: 100%;
  position: relative;
  background: linear-gradient(
    to top left,
    var(--orange) 0%,
    var(--orange) 50.3%,
    var(--dark-navy-blue) 50.4%,
    var(--dark-navy-blue) 100%
  );
  /* linear-gradient(to bottom right, #fff 0%, #fff 50%, var(--orange) 50%, var(--orange) 100%) */
  /* margin-bottom: 6rem; */
  /* background-color: var(--dark-navy-blue); */
  /* border-bottom: 18px solid var(--dark-navy-blue); */
}

.header-info-container {
  /* display: flex;
    justify-content: center;
    align-items: center; */
  padding-top: 6rem;
  margin: 0 10rem 4rem 10rem;
  position: relative;
}

.header-img {
  overflow-y: visible;
  height: 30rem;
  width: auto;
  border-radius: 50%;
  float: left;
  position: absolute;
  left: 4rem;
  top: 6rem;
  z-index: 2;
  border: 6px solid var(--dark-navy-blue);
}

.header-title {
  font-family: "Secular One", sans-serif;
  color: var(--dark-navy-blue);
  font-size: 4rem;
  letter-spacing: 3px;
}

.header-info {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem 1rem 1rem 10rem;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  z-index: 1;
  left: 25rem;
  top: 8.5rem;
  border: 6px solid rgb(24, 47, 80);
}

.header-about {
  font-family: "Roboto Mono", monospace;
  padding: 1rem;
  color: var(--dark-blue);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.socials-container-header {
  display: flex;
  font-size: 2rem;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  margin-right: 1rem;
  color: var(--dark-navy-blue);
}

.socials-linkedIn-header:hover,
.socials-github-header:hover,
.socials-soundcloud-header:hover {
  color: var(--tomato);
  transition: color 200ms ease-in;
  cursor: pointer;
}
