@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Secular+One&display=swap");



a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
    text-decoration-color: var(--tomato);
    text-decoration-thickness: .2rem ;
}

.contact-info-container{
    font-family: "Roboto Mono", monospace;
    background-color: var(--dark-navy-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding-top: 4rem;
}

.contact-info{
    margin: 4rem 0 2rem 0;
    color: white;
}

.contact-info-title{
    font-family: "Secular One", sans-serif;
    font-size: 4rem;
    margin-bottom: 2rem;
    border-bottom: 10px dotted var(--tomato);
    letter-spacing: 3px;
}

.contact-info-annotation {
    font-size: 1.3rem;
    margin: .5rem 0 1rem 0
}

.contact-info-address{
    font-size: 1.2rem;
    white-space: pre-line;
    line-height: 1.5;
}

.contact-info-phone-container,
.contact-info-email-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    margin: 1rem 0;
}

.contact-info-phone-icon,
.contact-info-email-icon {
    font-size: 1.5rem;
    color: var(--tomato);
}

.contact-info-phone-link{}
.contact-info-phone-link{}

.footer-img{
    border-radius: 50%;
    border: 6px solid var(--tomato);
    height: 27rem;
}

.socials-container-footer{
    padding: 2rem 0 5rem 0;
    background-color: var(--dark-navy-blue);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 3rem;
}
.socials-container-footer > *:hover {
    cursor: pointer;
    color: var(--tomato);
    transition: color 200ms ease-in;
}
